<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.thymeleaf.org"
  th:replace="normal/base::Layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div class="container text-center">
        <div class="row">
          <div class="col-13">
            <div class="card m-3 p-3 text-center">
              <div class="row">
                <div class="col-3">
                  <img
                    th:src="@{'/img/'+${contact.image}}"
                    style="height: 200px; width: 200px"
                    class="contact_img text-white"
                    alt="Profile Photo"
                  />
                </div>
                <div class="col text-start h4" id="detail">
                  <ul>
                    <li>
                      <span
                        class="row"
                        th:text="'Name: ' +${contact.name+' '+contact.secondName}"
                      ></span>
                    </li>
                    <li>
                      <span class="row" th:text="${contact.email}"></span>
                    </li>
                    <li>
                      <span th:text="${contact.phone}"></span>
                    </li>
                    <li>
                      <span th:text="${contact.work}"></span>
                    </li>
                    <li>
                      <span th:utext="${contact.description}"></span>
                    </li>
                  </ul>
                <button style="border: none; border-radius: 0.5rem;" class="btn-sm tbl_btn text-white bg-danger h6 p-3 m-1">Delete</button>
                <button style="border: none; border-radius: 0.5rem;" class="btn-sm tbl_btn text-white bg-primary h6 p-3 m-1">Update</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
