<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>This is about page</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro optio architecto, ipsam culpa laborum libero, dolorum reiciendis deleniti aperiam nemo deserunt ea suscipit sit nobis doloribus quasi! Cupiditate, commodi obcaecati?</h2>
    </section>
</body>
</html>