<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="gra">
            <div class="trans-box">
                <h1 class="titl">Hello World This is Spring Boot</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore odit assumenda quidem magnam amet ut ratione obcaecati voluptatem earum error ipsam facilis, repudiandae nemo expedita aperiam magni ipsum neque suscipit.</p>
            <button class="btn bg-primary btn-lg text-white" >Get Start</button>
            </div>
        </div>
        
    </section>

</body>
</html>